.padding {
    margin: 15px;
    background-color: black;
}

div::after {
    display: block;
    content: " ";
    clear: both;
}

header {
    text-align: center;
    padding: 25px 0;
    color: #ddd;
    background: #3d3d3d;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3d3d3d), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #3d3d3d 0%, #000000 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

header h1 {
    color: #CCCCCC;
    font-style: italic;
    font-family: "Edwardian Script ITC";
    font-size: 35px;
    font-weight: bold;
}

.descrition{
    font-family: "chalkboard";
    color:white;
    list-style: none;
}

.descrition li::after{
    display: block;
    content:"...";
    clear:both;
    color:  #585858 ;   
}

 
.contacts li{
    display: inline-block;;
    list-style: none;
}

a{
    color: white;
}

.contacts li{
        background:     #707070 ;
     /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #585858), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #585858 0%, #000000 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 75px;
    margin: 20px;
    background-origin: content-box;
}



.marginDiv {
    margin: 20px;
}

 div .objective{
    padding:100px;
    background: #FF9900;
  }

  div .objective h1{
    font-weight: bold;
    font-family: "Braggadocio";
/*font-family: "ayuthaya";*/

  }

  div .objective p{
    font-family: "chalkboard";
    font-size: 32px;
    
  }

  .technical{
    font-family: "chalkboard";
    color: white;
    background-color: #336699;
      /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #336699 0%, black 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #336699), color-stop(100%, black));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #336699 0%, black 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #336699 0%, black 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #336699 0%, black 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #336699 0%, black 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#336699', endColorstr='black', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    /*border-radius: 75px;*/
        margin: 120px 0px;
    background-origin: content-box;
    padding:20px 0px;

  }
div .technical h1{
    font-family: "Chalkduster";
    font-weight: bold;
}

div .technical li{
    list-style-type: square;
    margin:25px;
    font-size: 32px;
}

.experience{
      font-family: "chalkboard";
    color: black;
   background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #CC9933,#660000 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #CC9933,#660000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #CC9933,#660000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #CC9933,#660000 ); /* Standard syntax */
    /* IE6-9 fallback on horizontal gradient */
    /*border-radius: 75px;*/
        margin: 120px 0px;
    background-origin: content-box;
    padding:20px 0px;
    font-size: 32px;
 
}
.employement{
    font-size: 32px;
    font-family: "chalkboard";
   /* background:url("images/workdesk.jpg");
    background-repeat: no-repeat;
   background-origin: content-box;
   */
        background:#00CCCC;
    background: -webkit-linear-gradient(left top,#00CCCC , #3366CC );
        background: -o-linear-gradient(right bottom,#00CCCC , #3366CC );
            background: -moz-linear-gradient(right bottom,#00CCCC , #3366CC );
                background: linear-gradient(right bottom,#00CCCC , #3366CC );
    /*color: DarkCyan  ;*/
    color:White;
    z-index: -2;
    /*opacity: 0.5;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 50px 0px;
}
div .employement h1{
    font-family: "Chalkduster";
}

div .employement div::after{
    margin: 25px;
}
.desc{
    float: left;
    width: 75%;
}
.image{
    float: right;
    width:25%;
}

div .image div img{
    border-radius: 100px;

}

.education{
    color: White;
    background:#006666;


}

.cimage{
    float: left;
    width: 25%;
}

.cdesc{
    margin-top: 60px;
    float:right;
    width: 75%;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
}

.cimage img{
        border-radius: 150px;
}


.project{
    color:White;
    font-size:30px;
}



/*.wrapperForBanner {
    background-clip: content-box;
    border: 10px solid white;
    background: #303030;
    /* For browsers that do not support gradients 
    background: -webkit-linear-gradient(left, #707070, black);
    /* For Safari 5.1 to 6.0 
    background: -o-linear-gradient(right, #707070, black);
    /* For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(right, #707070, black);
    /* For Firefox 3.6 to 15 
    background: linear-gradient(to right, #707070, black);
    /* Standard syntax 
    overflow: visible;
    clear: both;
    height: auto;
}*/

/*.profileName {
    /*height: 106px;
    float: right;
    width: 70%;
    color: white;
    font-style: italic;
    font-family: "Edwardian Script ITC";
    /*font-family: "kokonor";
    font-size: 50px;
    /*top:50%;
}*/


/*.banner{
    /*background-color: #303030;
    border-style: 1px solid white;
    box-shadow: 10px #888888;
    /*background-origin: content-box; 
    /*border-width: 100px;
}*/


/*.profilePic {
    
    float: left;
    width: 30%;

/*    -webkit-transition:width 2s;
   transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    /*transition-duration:10s;*
}
.profilePic img {
    border-radius: 125px;
    transition: all 2s ease-in-out 15s;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition:all 2s ease-in-out;
    cursor:pointer;
    /*transform: rotate3d(x,y,z,90deg);
}
.profilePic img:hover{
    width: 150px;
    height: 150px;
    /*transform:rotate(360deg); 
}*/
