.padding {
    margin: 15px;
    background:url("images/background.jpg");
    /*background: black;*/
}

.navigation{
    list-style: none;
display: block;
margin: 0 auto;
list-style: none;

}

/*.navigation li{
  margin-top: 9px;
float: left;
padding-left: 21px;
}
*/

div::after {
    display: block;
    content: " ";
    clear: both;
}

header {

    text-align: center;
    padding: 25px 0;
    color: #ddd;
    background-image: #3d3d3d;
    /* Old browsers */
    background-image: -moz-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* FF3.6+ */
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3d3d3d), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background-image: -webkit-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: -o-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* Opera 12+ */
    background-image: -ms-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* IE10+ */
    background-image: radial-gradient(ellipse at center, #3d3d3d 0%, #000000 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    /*background-attachment: fixed;*/
}

header h1 {
    color: #CCCCCC;
    font-style: italic;
    font-family: "Edwardian Script ITC";
    font-size: 35px;
    font-weight: bold;
}

.descrition{
    font-family: "chalkboard";
    color:white;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.descrition li::after{
    display: block;
    content:"...";
    clear:both;
    color:  #585858 ;   
}

 .contacts{
            padding: 0px;
    margin: 0px;
 }

.contacts li{
    display: inline-block;;
    list-style: none;

}

a{
    color: white;
}

.contacts li{
        background:     #707070 ;
     /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #585858), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #585858 0%, #000000 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 75px;
    margin: 20px;
    background-origin: content-box;
    /*background-attachment: fixed;*/
}
/*parallax implementation */
[class*="bg__"] {
  height: auto;

  /*text-indent: -9999px;*/

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;
   margin-top: 10%;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.marginDiv {
    margin: 20px;
    text-decoration: none;
}

 div .bg__objective{
    padding:100px;
    background-image: url("images/objective.jpg");
    color: White;
  }

  div .bg__objective h1{
    font-weight: bold;
    font-family: "Braggadocio";
/*font-family: "ayuthaya";*/

  }

  div .bg__objective p{
    font-family: "chalkboard";
    font-size: 32px;
    
  }

  .bg__technical{
    font-family: "chalkboard";
    color: White;
background-image: url("images/tech.jpg");
     padding:100px;
    padding:20px 0px;

  }
div .bg__technical h1{
    font-family: "Chalkduster";
    font-weight: bold;
}

div .bg__technical li{
    list-style-type: square;
    margin:25px;
    font-size: 32px;
    font-weight: bold;
    z-index:-1;
}

.bg__experience{
      font-family: "chalkboard";
      color: black;
   background-image: url("images/exper.jpg");
   font-size: 32px;
   padding:100px;
}
.bg__employement{
      color: White;
    font-size: 32px;
    font-family: "chalkboard";
   background-image: url("images/work.jpg");
   padding:100px;
}


div .bg__employement h1{
    font-family: "Chalkduster";
}

div .bg__employement div::after{
    margin: 25px;
}
.desc{
    float: left;
    width: 75%;
}
.image{
    float: right;
    width:25%;
}

div .image div img{
    border-radius: 100px;

}

.bg__education{
    margin-top: 10%;
    color: White;
    padding:20%;
    background:#006666;
    background-image:url("images/education.jpg");
    background-size:  100% 100%;
}
.bg__education h1{
    font-size: 40px;
    font-family: "chalkboard";
}

.cimage{
    float: left;
    width: 25%;
    transform: rotate3d (1,-1,0,60);
}

.cdesc{
    margin-top: 60px;
    float:right;
    width: 75%;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
}

.cimage img{
        border-radius: 150px;
}


.bg__project{
    margin-top:10%;
    color:Black;
    padding:100px;
    font-size:30px;
    background-image:url("images/project.jpg");
      height: 100vh;
   /* background-size: 100% 100%;
    padding: 80px;*/
}

