.padding {
    margin: 15px;
    margin-right: 20px;
    /*background:url("images/background.jpg");*/
    /*background: black;*/
    background: black;
}

.navigation {
    position: fixed;
    top: 0px;
    right: -230px;
    bottom: 0px;
    width: 310px;
    background: #0E0E0E none repeat scroll 0% 0%;
    list-style-type: none;
    list-style-image: none;
    margin: auto;
    /*list-style: disc;*/
    color: white;
    display: block;
}

.displaystyle {
    list-style-type: none;
    margin-top: 75%;
}

.spacing {
    margin-bottom: 5%;
}

.wrap {
    top: 50%;
    color: #1496bb;
    cursor: grab;
    position: relative;
    width: 200px;
    -webkit-transform: translateZ(0);
    /* webkit flicker fix */
    -webkit-font-smoothing: antialiased;
    /* webkit text rendering fix */
}

.wrap .tooltip {
    /*background: black;*/
    text-align: center;
    background-color: #1496bb;
    font-weight: bold;
    bottom: 100%;
    color: black;
    display: block;
    left: -10px;
    margin: 15px;
    opacity: 0;
    padding: 30px 15px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: -164px;
    z-index: 1;
    top: -39px;
    width: 104px;
}

.wrap .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.wrap .tooltip:after {
    border-bottom: solid transparent 10px;
    border-top: solid transparent 10px;
    border-left: solid #1496bb 20px;
    left: -10px;
    content: " ";
    height: 0;
    left: 100%;
    margin-left: -4px;
    position: absolute;
    width: 0;
    top: 30%;
}

.wrap:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    height: 15px;
}


/* IE can just show/hide with no transition */

.lte8 .wrap .tooltip {
    display: none;
}

.lte8 .wrap:hover .tooltip {
    display: block;
}

div::after {
    display: block;
    content: " ";
    clear: both;
}

header {
    text-align: center;
    padding: 25px 0;
    color: #ddd;
    background-image: #3d3d3d;
    /* Old browsers */
    background-image: -moz-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* FF3.6+ */
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3d3d3d), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background-image: -webkit-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: -o-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* Opera 12+ */
    background-image: -ms-radial-gradient(center, ellipse cover, #3d3d3d 0%, #000000 100%);
    /* IE10+ */
    background-image: radial-gradient(ellipse at center, #3d3d3d 0%, #000000 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    /*background-attachment: fixed;*/
}

header h1 {
    color: #CCCCCC;
    font-style: italic;
    font-family: "Edwardian Script ITC";
    font-size: 35px;
    font-weight: bold;
}

.descrition {
    font-family: "chalkboard";
    color: white;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.descrition li::after {
    display: block;
    content: "...";
    clear: both;
    color: #585858;
}

.contacts {
    padding: 0px;
    margin: 0px;
}

.contacts li {
    display: inline-block;
    ;
    list-style: none;
}

a {
    color: white;
}

.contacts li {
    background: #707070;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #585858), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #585858 0%, #000000 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #585858 0%, #000000 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 75px;
    margin: 20px;
    background-origin: content-box;
    /*background-attachment: fixed;*/
}


/*parallax implementation */

[class*="bg__"] {
    height: auto;
    margin-right: 55px;
    /*text-indent: -9999px;*/
    /* fix background */
    background-attachment: fixed;
    /* center it */
    background-position: center center;
    /* Scale it nicely to the element */
    background-size: cover;
    margin-top: 5%;
    /* just make it look a bit better ;) */
    &:nth-child(2n) {
        box-shadow: inset 0 0 1em #111;
        color: black;
    }
}

.marginDiv {
    margin: 20px;
    text-decoration: none;
}

div .bg__objective {
    padding: 100px;
    background-color: #ffcb66;
    /*Old browsers */
    background-image: -moz-radial-gradient(center, ellipse cover, #ffe5b3 0%, #ffcb66 100%);
    /*FF3.6+*/
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffe5b3), color-stop(100%, #ffcb66));
    /*Chrome,Safari4+ */
    background-image: -webkit-radial-gradient(center, ellipse cover, #ffe5b3 0%, #ffcb66 100%);
    /*Chrome10+,Safari5.1+ */
    background-image: -o-radial-gradient(center, ellipse cover, #ffe5b3 0%, #ffcb66 100%);
    /*Opera 12+ */
    background-image: -ms-radial-gradient(center, ellipse cover, #ffe5b3 0%, #ffcb66 100%);
    /*IE10+ */
    background-image: radial-gradient(ellipse at center, #ffe5b3 0%, #ffcb66 100%);
    /*W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffe5b3 ', endColorstr=' #ffcb66', GradientType=1);
    color: black;
}

div .bg__objective h1 {
    font-weight: bold;
    font-family: "Braggadocio";
    /*font-family: "ayuthaya";*/
}

div .bg__objective p {
    font-family: "chalkboard";
    font-size: 32px;
}

.bg__technical {
    font-family: "chalkboard";
    color: White;
    background-image: url("images/tech.jpg");
    padding: 100px;
    padding: 20px 0px;
}

div .bg__technical h1 {
    font-family: "Chalkduster";
    font-weight: bold;
}

div .bg__technical li {
    list-style-type: square;
    margin: 25px;
    font-size: 32px;
    font-weight: bold;
    z-index: -1;
}

.bg__experience {
    font-family: "chalkboard";
    color: black;
    background: #ffcb66;
    background-image: -webkit-linear-gradient(left, #ffcb66, #ffe5b3);
    /*For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #ffcb66, #ffe5b3);
    /*For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #ffcb66, #ffe5b3);
    /*/*For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #ffcb66, #ffe5b3);
    font-size: 32px;
    padding: 100px;
}

.bg__employement {
    color: White;
    font-size: 32px;
    font-family: "chalkboard";
    /*background-image: url("images/work.jpg");*/
    background: #006466;
    background-image: -webkit-linear-gradient(left, #006466, #00ace6);
    /*For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #006466, #00ace6);
    /*For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #006466, #00ace6);
    /*/*For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #006466, #00ace6);
    padding: 100px;
}

div .bg__employement h1 {
    font-family: "chalkboard";
}

div .bg__employement div::after {
    margin: 20px;
}

.desc {
    float: left;
    width: 75%;
}

.image {
    float: right;
    width: 25%;
}

div .image div img {
    border-radius: 100px;
}

.bg__education {
    margin-top: 10%;
    color: black;
    padding: 10%;
    background: #006666;
    /*background-image: url("images/education.jpg");*/
    background: #ffcb66;
    background-image: -webkit-linear-gradient(right, #ffcb66, #ffe5b3);
    /*For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(left, #ffcb66, #ffe5b3);
    /*For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(left, #ffcb66, #ffe5b3);
    /*/*For Firefox 3.6 to 15 */
    background-image: linear-gradient(to left, #ffcb66, #ffe5b3);
    background-size: 100% 100%;
}

.bg__education h1 {
    font-size: 40px;
    font-family: "chalkboard";
}

.edu {
    margin-bottom: 20px;
}

.cimage {
    float: left;
    width: 150px;
}

.cdesc {
    float: left;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-left: 25px;
    min-height: 150px;
}

.cimage img {
    border-radius: 150px;
    width: 150px;
}

.bg__project {
    margin-top: 10%;
    color: Black;
    padding: 100px;
    font-size: 30px;
    /*background-image: url("images/work.jpg");*/
    background: #006466;
    background-image: -webkit-linear-gradient(left, #006466, #00ace6);
    /*For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, #006466, #00ace6);
    /*For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, #006466, #00ace6);
    /*/*For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, #006466, #00ace6);
    height: auto;
    /* background-size: 100% 100%;
    padding: 80px;*/
}

.bg__project ul {
    list-style: decimal;
}

.bg__project div a {
    float: right;
    color: black;
}

/*CSS of mailform.html*/

.mailclass{
    color: white;
    text-align: center;
    font-family: "chalkboard";
    font-size: 20px;
/*    border-color: solid white;
    border-radius: 10px;*/
}
p::after{
    margin-bottom: 25px;
}
.txtstyle{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
}
.labelmsg{
    margin-left: -350px;
    text-align: left;
}

.textar{
    margin-left: 75px;
    margin-bottom: 50px;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    padding: 10px 5px;
}
.buttons{
     background: #707070;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #bfbfbf 0%, #8c8c8c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #bfbfbf), color-stop(100%, #8c8c8c));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #bfbfbf 0%, #8c8c8c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #bfbfbf 0%, #8c8c8c 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #bfbfbf 0%, #8c8c8c 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #bfbfbf 0%, #8c8c8c 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#8c8c8c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    border-radius: 15px;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left : 50px;
    font-size: 15px;
}

.buttons::after{
    margin:150px;
}

.buttonreset{
  background: #707070;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #585858 0%, #4d4d4d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #585858), color-stop(100%, #4d4d4d));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #585858 0%, #4d4d4d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #585858 0%, #4d4d4d 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #585858 0%, #4d4d4d 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #585858 0%, #4d4d4d 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#4d4d4d', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    border-radius: 15px;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left : 50px;
     font-size: 15px;
}